<app>
    <header>
        <component type="typeof(BlazorMvc.Client.Shared.NavBar)" render-mode="ServerPrerendered" />
    </header>
    <main>
        <h1>Demo</h1>
    </main>
    <footer>
        <component type="typeof(BlazorMvc.Client.Shared.FooterBar)" render-mode="ServerPrerendered" />
    </footer>
</app>